# Pandas Datareader

** NOTE: Not every geographical location works well with pandas datareader, your firewall may also block it!**

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

* Yahoo! Finance
* Google Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth Frenchâ€™s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

It should be noted, that various sources support different kinds of data, so not all sources implement the same methods and the data elements returned might also differ.

In [8]:
import pandas_datareader as web
import datetime

start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2017, 1, 1)

#facebook = web.DataReader("FB", 'google', start, end)  # google finance deprecated - API unstable
#facebook = web.DataReader("FB", 'morningstar', start, end)  # morningstar deprecated - API unstable
# note - use iex data source instead
facebook = web.DataReader("FB", 'iex', start, end)

In [9]:
facebook.head()

             open     high     low   close    volume
date
2015-01-02  78.58  78.9300  77.700  78.450  18177475
2015-01-05  77.98  79.2455  76.860  77.190  26452191
2015-01-06  77.23  77.5900  75.365  76.150  27399288
2015-01-07  76.76  77.3600  75.820  76.150  22045333
2015-01-08  76.74  78.2300  76.080  78.175  23960953

### Experimental Options

The Options class allows the download of options data from Google Finance.

The get_options_data method downloads options data for specified expiry date and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

Available expiry dates can be accessed from the expiry_dates property.

In [10]:
from pandas_datareader.data import Options

fb_options = Options('FB', 'google')
# BL NOTE - GOOGLE OPTIONS HAS BEEN IMMEDIATELY DEPRECATED AS OF 4/15/19

ImmediateDeprecationError:
Google Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [11]:
data = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

NameError: name 'fb_options' is not defined

In [12]:
data.head()

NameError: name 'data' is not defined

# FRED

In [13]:
import pandas_datareader.data as web
import datetime

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [14]:
gdp.head()

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828